{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    <div class="example-wrapper text-center">

    <div class="container mt-5">

    <h1>Connexion</h1>

    <form action="{{ path('app_login') }}" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="_username" />
        </div>

        <div>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="_password" />
        </div>

            <input type="hidden" name="_target_path" value="/catalog" />

        <button class="btn btn-primary" type="submit">Connexion</button>
    </form>

        </div>
    </div>

{% endblock %}
