{# templates/product/new.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}New Product{% endblock %}
{% block body %}
<div class="container mt-5">
	<h1>Nouveau produit</h1>
	{{ include('product/_form.html.twig') }}
	<a class="btn btn-secondary" href="{{ path('app_admin_products') }}">retour</a>
</div>
{% endblock %}